* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url(2.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: whitesmoke;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content h1 {
    font-size: 40px;
    padding-right: 25px;
    padding-top: 75px;
    margin-top: 9.5%;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}